#admin-panel {
    display: grid;
    grid-auto-columns: 1fr 4fr;
    grid-template-areas: "navBar main";
    background-color: rgb(30, 28, 58);
}

#admin-panel-main {
    grid-area: main;
}

.buttonContainer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

.buttonContainer button {
    cursor: pointer;
}

.addCustomerForm {
    display: flex;
    justify-content: center;
}

.form-Container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

.form-Item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    max-width: 300px;
}

.form-Container input {
    width: 350px;
    margin-top: 7px;
    height: 50px;
    border-radius: 15px;
}

.form-Container button {
    background-color: black;
    color: white;
    cursor: pointer;
    width: 360px;
    height: 60px;
    border-radius: 15px;
    margin-top: 30px;
}


.listOfEmails {
    list-style-type: none;
    max-width: 500px;
    margin: 0 auto;
    padding: 0;
}

.listOfEmails li {
    background-color: rgb(215, 207, 207);
    color: black;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 12px 20px;
    margin-bottom: 10px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease-in-out;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.listOfEmails li:hover {
    transform: translateY(-5px);
    background-color: #e0e0e0;
}

.removeButtonAdmin {
    background-color: #e74c3c;
    color: white;
    border: none;
    padding: 8px 16px;
    font-size: 14px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 10px;
}

.removeButtonAdmin:hover {
    background-color: #c0392b;
}

.listOfEmails li span {
    font-weight: bold;
    color: #555;
}

.removeContainer h1 {
    justify-content: center;
    display: flex;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
}