h2 {
    color: white;
}

.assign-tickets-container {
    text-align: center;
    padding: 20px;
}

.assign-tickets-container .categories {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
}

.assign-tickets-container .category {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border-radius: 5px;
    cursor: grab;
    user-select: none;
}

.assign-tickets-container .worker {
    border: 2px white;
    border-radius: 10px;
    padding: 20px;
    margin: 10px;
    background-color: grey;
    min-height: 100px;
    
}

.assigned-categories {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

.assigned-category {
    background-color: #28a745;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color;
}

.assigned-category.selected {
    background-color: #e74c3c;
}
