#createTicket {
    display: grid;
    justify-content: center;
    }

.default-form #formId {
    background-color: grey;
    padding: 20px;
    border-radius: 10px;
}

/*Ikea ticket Styling*/
.ikea-form {
    background-color: green;
    color: white;
}

.ikea-form #formId {
    background-color: blue;
    border: 2px solid
}