#CustomerServicePanel {
    display: grid;
    grid-auto-columns: 1fr 5fr;
    grid-template-areas: "navBar main";
    background-color: rgb(30, 28, 58);
}

#CustomerServicePanelMain {
    grid-area: main;
    padding-left: 40px;
    padding-right: 40px;
    width: auto;
    overflow-y: scroll;
    max-height: 100vh;
}



.messageContainer {
    height: auto;
}

#messageList {
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    gap: 30px;
}

#messageList p {
    margin: 0;
}

#messageList li {
    border-radius: 4px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    list-style-type: none;
    padding-left: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: rgb(46, 44, 77);
}

h3,
h4,
h5 {
    display: flex;
    flex-direction: row;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
}

p {
    color: white;
}

.refreshButton {
    width: 120px;
    height: 40px;
    cursor: pointer;
}

.refreshContainer {
    display: flex;
    justify-content: flex-end;
    margin-top: 2%;
    margin-right: 5vh;
}

#ticketList{
    list-style-type: none;
    margin: 0;
    margin-bottom: 5px;
    background-color: rgb(46, 44, 77);
    padding-bottom: 5px;
    P:first-child{
        margin-top: 0;
    }
}

#ticketflex{
    display: flex;
    justify-content: space-between;
    background-color: rgb(46, 44, 77);
}

#ticket-detailed {
    position: relative;
}

.message {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

#information {
    list-style-type: none;
    padding-left: 20px;
    margin-top: 0;
    margin-bottom: 0;
}

#information li {
    margin: 0;
}

.info {
    top: -5px;
}

.info p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
}