#nav-container {
    width: 100%;
    display: flex;
    justify-content: center;
    border-right: 1px solid black;
    box-shadow: 0 0 15px rgb(0, 0, 0);

    nav {
        grid-area: navBar;
        display: flex;
        font-size: larger;
        text-decoration: none;
        min-height: 100vh;
        background-color: rgb(46, 44, 77);
        overflow-y: auto;
    }

    nav>ul {
        flex-wrap: nowrap;
        padding-left: 0;
        position: relative;
        width: 299px;
        /* display: grid; */
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
        list-style-type: none;
        height: 40vh;
        flex-direction: column;
        justify-content: space-between;
        text-align: center;

    }

    .optionContainer {
        display: flex;
        justify-content: center;
        list-style-type: none;
    }

    ul li {
        margin-top: 40px;
    }

    .Options {
        display: flex;
        text-decoration: none;
        height: 100%;
        box-shadow: 0 1px 2px rgb(0, 0, 0);
        align-items: center;
        justify-content: center;
        color: black;
        border: 20px;
        border-radius: 15px;
        padding: 10px;
        width: 230px;
        background-color: #EEE4E4;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
    }

    .Options:hover {
        background-color: rgb(0, 0, 0, 20%);
    }

    #menu {
        position: absolute;
    }

    h1,
    p {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        color: white;

    }

    .roleText {
        display: block;
        width: 250px;
        text-align: center;
        border-bottom: 0.5px solid rgb(39, 36, 36);
        padding-bottom: 5px;
        margin: 0 auto;
    }
}